.mainDivShowDetails{
    @apply
    w-full
    h-auto
    bg-slate-200
}

.showDetailsTop{
    @apply
    w-full
    h-32
    bg-gray-500
}

.movieHead{
    @apply
    p-7
    text-2xl
    font-semibold
}

.genreDetails{
    @apply
    text-sm
    font-normal
    pl-7    
}

.dateDropdownDiv{
    @apply
    p-8
    ml-8
}

select:focus {
    outline: none;
    border-color: transparent;
    -webkit-appearance: none;
}

.showDetailsDiv{
    @apply
    w-full
    h-auto
    bg-slate-100
}

.wholeDataDiv{
    @apply
    w-full
    h-full
    p-32
}

.showsDataDiv{
    @apply
    w-full
    h-1/2
    flex
}

.theaterNameDiv{
    @apply
    p-16
    text-black
    text-lg
    font-semibold
    w-1/3
}

.showsNameDiv{
    @apply
    p-16

}